.letter {
  width: 36px;
  height: 36px;
  background-color: #fce6a6; /* Klasická farba scrabble písmenka */
  border: 1px solid #b79743;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: grab; /* Zmena kurzora pri nabehnutí */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  user-select: none; /* Zabráni označovaniu textu pri ťahaní */
}

.letter-char {
  font-size: 20px;
  color: #333;
}

.letter-value {
  font-size: 10px;
  color: #555;
  align-self: flex-end; /* Hodnota v pravom dolnom rohu */
  padding-right: 2px;
  padding-bottom: 1px;
}