.player-rack {
  display: flex;
  gap: 5px; /* Medzera medzi písmenkami */
  border: 2px dashed #888;
  padding: 10px;
  min-height: 50px; /* Aby sa tam zmestili písmenká */
  background-color: #e6e6e6;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  width: fit-content; /* Prispôsobí sa obsahu */
}

.rack-highlight {
  background-color: #c0c0f0; /* Modré zvýraznenie pri prejdení myšou */
  border: 2px dashed #000080;
}