/* src/styles/PlayerRack.css */
.player-rack-container {
    margin-top: 20px;
    text-align: center;
}
.player-rack {
display: flex;
  justify-content: center;
border: 1px solid #999;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    max-width: fit-content;
    /* Aby sa rack nerozťahoval cez celú šírku */
    margin: 0 auto;
    /* Na centrovanie racku */
}